# Cmake output
build/
install/
log/
debug/
deps/
compile_commands.json

# MuJoCo
MUJOCO_LOG.TXT

# Python
python/.venv/
python/dist/
__pycache__/
recipes/

# Cache
.cache/
tmp/

# VS Code
safe-learning.code-workspace
